@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100%;
    width: 100%;
}
article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

fieldset{
    border: 1px solid black;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 2%;
}

legend{
    font-weight: 700;
    font-size: 1.6rem;    
}
input, label{
    margin-left: 5%;
}
section{
    background-color: lightblue;
    border-radius: 5%;
    height: 100%;
    width: 75%;
    border: 2px solid darkgray;
    margin: auto;
}
.btn{
    height: 15%;
    width: 15%;
    border-radius: 10%;
    border: 1px solid darkgray;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    background-color: aliceblue;
}

.btn[name="deleteTicketId"]{
    width: 25%;
}

.objSection{
    height: 100%;
    width: 20%;
}

h1, h2{
    font-size: 1.2rem;
    margin-left: 5%;    
}

.results{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    border: none;
    border-radius: 0;
}

.left{
    width: 50%;
    height: 100%;
   margin-bottom: 3%;
}

.rigth{
    width: 50%;
    height: 100%;
}

.hide{
    display: none;
}